# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
# === Node/Expo ===
# app/node_modules/
# app/.expo/
# app/dist/
# app/.env

# === Gradle/IntelliJ ===
backend/.gradle/
backend/build/
backend/out/
backend/.idea/
backend/*.iml

# OS
.DS_Store
Thumbs.db
